@font-face {
    font-family: "Noto Sans";
    src: url("assets/fonts/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "Noto Sans";
    src: url("assets/fonts/NotoSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Noto Sans";
    src: url("assets/fonts/NotoSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Noto Sans";
    src: url("assets/fonts/NotoSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    background-color: #ffffff;
}

#app {
    height: 100vh;
}

/** icon button */
.icon-button {
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    cursor: pointer;
}

.icon-button.settings{
    background: url("assets/icons/Setting_line.svg") 0 0 no-repeat;
}

.icon-button.more{
    background: url("assets/icons/Meatballs_menu.svg") 0 0 no-repeat;
}

/** explorer header */
.explorer-header {
    height: 70px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

.explorer-header-path {
    height: 40px;
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.explorer-header-controls {
    padding-left: 15px;
}

/** files list */
.files-list {
    display: flex;
    flex-direction: column;
}

.files-item {
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.files-item:hover {
    background-color: #f7f7f7;
}

.files-item.folder {
    cursor: pointer;
}

.files-item-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
}

.files-item-icon.folder {
    background: url("assets/icons/Folder_duotone_fill.svg") 0 0 no-repeat;
}

.files-item-icon.file {
    background: url("assets/icons/File.svg") 0 0 no-repeat;
}

.files-item-name {
    margin-left: 5px;
}

.files-item .icon-button {
    margin-left: auto;
}

/** settings */
.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-header {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
}

.settings-fields {
    width: 450px;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.input-group.checkbox {
    flex-direction: row;
}

.input-group.checkbox input {
    margin: 0 5px 0 0;
}

.input-group.field input {
    background-color: #F7F7F7;
    border: 0;
    border-radius: 5px;
    height: 28px;
    margin-top: 4px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

.input-group.field input:focus-visible {
    outline-color: #dbdbdb;
}

.input-group button {
    background-color: #F7F7F7;
    border: 0;
    border-radius: 5px;
    height: 30px;
    margin-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

.input-group button:hover {
    background-color: #f1f1f1;
}

.input-group button:active {
    background-color: #e6e6e6;
}

/** context menu */
.context-menu {
    position: fixed;
    z-index: 999;
    outline: none;
    min-width: 160px;
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.context-item {
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.context-item:hover {
    background-color: #f7f7f7;
}

.context-item-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    cursor: pointer;
}

.context-item-icon.download {
    background: url("assets/icons/Export.svg") 0 0 no-repeat;
}

.context-item-icon.delete {
    background: url("assets/icons/close_ring.svg") 0 0 no-repeat;
}

.context-item-text {
    margin-left: 5px;
}

/** alert */
.alert {
    background-color: #E57676;
    min-height: 70px;
    width: 600px;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
}

.alert .close {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    cursor: pointer;
    background: url("assets/icons/Close_round.svg") 0 0 no-repeat;
    position: absolute;
    right: 5px;
    top: 5px;
}

/** progress */
.progress {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    padding-right: 10px;
}

.progress-bar {
    background-color: #D4D4D4;
    height: 10px;
    width: 100%;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.progress-fill {
    background-color: #86DF94;
    height: 100%;
    border-radius: 5px;
}